
*{
	margin: 0;
	padding: 0;
}

#subject{
	margin-left: 15px;
	margin-top: 10px;
}

#subject-question-title{
	float: left;
	width: 40px;
}

#subject-question-text{
	width: 560px;
	height: 130px;
	font-size: 13px;
	padding: 5px;
}

#subject-answer-title{
	float: left;
	width: 40px;
}

#subject-answer-text{
	width: 240px;
	height: 23px;
	font-size: 17px;
	display: block;
	margin-bottom: 5px;
}

#subject-submit-btn{
	width: 100px;
	height: 30px;
	background-color: #aaaaaa;
	color: #000000;
}

