
*{
	margin: 0;
	padding: 0;
}

#body{
	padding: 5px;
}

#user-info{
}

#user-info-name::before{
	content: "用户名: ";
}

.user-info-auth-line::after{
	content: "; ";
}


#user-verifies{
	width: 580px;
}

#user-verifies-head, #user-verifies-body{
	width: 100%;
	border: 1px solid #000000;
}

#user-verifies-head, .user-verifies-item{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#user-verifies-head-id, .user-verifies-item-id{
	width: 60px;
	border: 1px solid #000000;
	display: inline-block;
}

#user-verifies-head-name, .user-verifies-item-name{
	width: 120px;
	border: 1px solid #000000;
	display: inline-block;
}

#user-verifies-head-status, .user-verifies-item-status{
	width: 80px;
	border: 1px solid #000000;
	display: inline-block;
}

#user-verifies-head-verified, .user-verifies-item-verified{
	width: 60px;
	border: 1px solid #000000;
	display: inline-block;
}

#user-verifies-head-v_user, .user-verifies-item-v_user{
	width: 100px;
	border: 1px solid #000000;
	display: inline-block;
}

#user-verifies-head-v_quest, .user-verifies-item-v_quest{
	width: 100px;
	border: 1px solid #000000;
	display: inline-block;
}

