
*{
	margin: 0;
	padding: 0;
}

#login-box{
	width: 330px;
	min-height: 285px;
	/*height: 240px;*/
	margin: 0 auto;
	margin-top: 130px;
	padding-top: 15px;
	padding-bottom: 25px;
	background-color: #ccc;
	position: relative;
	border-radius: 5px;
}

.login-box-content{
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.login-box-content>p{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.login-box-content>p>input{
	width: 140px;
	height: 40px;
	margin-right: 30px;
	padding: 0px 15px;
	border: none;
	border-radius: 20px;
	font-size: 17px;
	text-align: left;
}

#login-box-captcha-img{
	width: 96px;
	height: 40px;
	margin-right: 20px;
	border: 1px solid #000;
}

#login-box-captcha-input{
	width: 70px;
	height: 40px;
	margin-right: 30px;
	padding: 0px 15px;
	border: none;
	border-radius: 20px;
	font-size: 17px;
	text-align: left;
}

.login-box-content>.error-box{
	display: block;
	width: 80%;
	min-height: 20px;
	margin-top: 5px;
	margin-left: 10%
	font-size: 15px;
	text-align: center;
}

#login-box-error{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

#login-box-submit{
	display: block;
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 20px;
}

